@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 1%;
    padding: 1%;
    box-sizing: border-box
}

body {
    background-color: rgb(255, 255, 255)
}

.pIntro {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.container-fluid {
    background-color: rgb(194, 213, 250);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px
}

.container-question {
    background-color: rgb(209, 222, 247);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    max-width: 600px
}

.container-fluid>p {
    font-size: 32px
}

.question {
    width: 90%;
    text-align: justify
}

.options {
    position: relative;
    padding-left: 40px
}

#options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer
}

.options input {
    opacity: 0
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 50%
}

.options input:checked~.checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: rgb(13, 0, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark {
    background: #ffffff;
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn-primary {
    background-color: rgb(208, 237, 243);
    color: rgb(0, 0, 0);
    border: 1px solid #ddd
}

.btn-primary:hover {
    background-color: #21bf73;
    border: 1px solid #21bf73
}

.btn-success {
    padding: 5px 25px;
    background-color: #088216
}

@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px
    }
}