<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English-level-test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/TestStyle.css">
</head>

<header>
    <h1 class="text-center">English Level Test</h1>
</header>

<body>

<div id="ANS">
    <div v-for="(instruction,index) of questions" v-show="index === questionIndex">
        <div class="pIntro"><b>{{instruction.instructions}}</b></div>
        <div class="container-fluid" v-for="(question,index) of questions" v-show="index === questionIndex">
            <div class="container-question">
                <div class="question ml-sm-5 pl-sm-5 pt-2">
                    <div class= "h6"><b>{{question.textQ}}</b></div>
                </div>
            </div>
        <br>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" v-for="response of question.responses" v-show="index === questionIndex">
                    <label class="options">
                        <input type="radio" v-bind:value="response.correct" v-name="index" v-model="userResponses[index]"/>{{response.text}}
                        <span class="checkmark"></span>
                    </label>
                </div>
        </div>
    </div>
        <br>
        <div class="d-flex justify-content-around pt-3">
            <div id="prev"><button type="button" name="exampleForm" class="btn btn-primary" v-bind:class="[questionIndex===0? 'disabled' : 'enabled']" v-if="questionIndex <= [questions.length-1]" v-on:click="previous">Previous</button></div>
            <div class="h5 mt-3" v-show="questionIndex <= [questions.length-1]"><i>({{questionIndex+1}}/{{questions.length}})</i></div>
            <div>
            <div id="next"><button type="button" class="btn btn-primary" v-if="questionIndex < [questions.length-1]" v-on:click="next">Next</button></div>
            <div id="submit"><button type="button" class="btn btn-primary" v-if="questionIndex == [questions.length-1]" v-on:click="next">Submit</button></div></div>
        </div>
        <div class="h3 text-center" v-show="questionIndex === questions.length">
            <b>Test finished</b> <br><br>
            <div class="container-fluid">
                <div class="container-question">
                    <div class="question ml-sm-5 pl-sm-5 pt-2 h4 text-center">
                    Total score: {{ score() }} / {{ questions.length }} <br><br>
                    You got {{score()*100/questions.length}}% correct answers!<br><br><br>
                    Your English level is {{level()}}<br><br><br>
                    <div class="d-flex justify-content-around pt-3">
                    <div id="tests"><button type="button" Onclick="location.href='examenrecomendado.html'" class="btn btn-primary btn-lg">Recommended tests</button></div>
                    <div id="material"><button type="button" Onclick="location.href='recursos.html'" class="btn btn-success btn-lg">Start learning!</button></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="javascript/javascript.js"></script>
    
</body>

<!-- FOOTER -->  
<footer class="text-center text-white" style="background-color: #f1f1f1;">
<!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 :
        <a class="text-dark" href="/">EnglishApp</a>
    </div>
<!-- Copyright -->
</footer>
<!-- END FOOTER --> 

</html>